Perform-Parallel-Execution-in-AWS-Step-Functions/completed-step-function.json
{
  "StartAt":"transcribe",
  "States":{
    "transcribe":{
      "Type":"Task",
      "Resource":"arn:aws:states:::lambda:invoke",
      "Parameters":{
          "FunctionName":"arn:aws:lambda:us-east-1:605189564693:function:lab-transcribe-wrapper:$LATEST",
          "Payload":{
            "Input.$":"$"
          }
      },
      "Next":"transcribe-wait"
    },
    "transcribe-wait":{
        "Type":"Wait",
        "Seconds":10,
        "Next":"transcribe-status"
    },
    "transcribe-status": {
      "Type":"Task",
      "Resource":"arn:aws:states:::lambda:invoke",
      "Parameters":{
          "FunctionName":"arn:aws:lambda:us-east-1:605189564693:function:lab-transcribe-status-checker:$LATEST",
          "Payload":{
            "Input.$":"$"
          }
      },
        "Next": "transcribe-complete"
    },
    "transcribe-complete":{
        "Type":"Choice",
        "Choices":[
            {
                "Variable":"$.Payload.TranscriptionJobStatus",
                "StringEquals":"COMPLETED",
                "Next":"process-transcript"
            },
            {
                "Variable":"$.Payload.TranscriptionJobStatus",
                "StringEquals":"FAILED",
                "Next":"error"
            }
        ],
        "Default":"transcribe-wait"  
    },
    "process-transcript":{
    "Type":"Parallel",
    "Branches":[
        {
            "StartAt":"comprehend",
            "States":{
              "comprehend": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke",
                "Parameters": {
                  "FunctionName": "arn:aws:lambda:us-east-1:605189564693:function:lab-comprehend-wrapper:$LATEST",
                  "Payload": {
                    "Input.$": "$"
                  }
                },
                "End": true
              }
            }
        },
        {
            "StartAt":"translate",
            "States":{
              "translate": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke",
                "Parameters": {
                  "FunctionName": "arn:aws:lambda:us-east-1:605189564693:function:lab-translate-wrapper:$LATEST",
                  "Payload": {
                    "Input.$": "$"
                  }
                },
                "End": true
              }
            }
        }
    ],
    "Next":"polly"
    },
    "polly": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:605189564693:function:lab-polly-wrapper:$LATEST",
        "Payload": {
          "Input.$": "$"
        }
      },
      "End": true
    },
    "error": {
        "Type": "Pass",
        "End": true
    }
  }
}
